<footer class="site-footer">
  <p>CoD Easter Egg Vault is a fan-made resource. Not affiliated with or endorsed by Activision Publishing, Inc., Treyarch, Sledgehammer Games, or Infinity Ward.</p>
  <p>Call of Duty® and Black Ops® are registered trademarks of Activision Publishing, Inc.</p>
</footer>
